<!DOCTYPE html>
<html>
<head>
  <title>Detalhe do Tweet</title>
</head>
<body>
  <h2>Tweet <%= tweet.tweet_id %></h2>
  <p><strong>Texto:</strong> <%= tweet.text %></p>
  <p><strong>Sentimento:</strong> <%= tweet.airline_sentiment %></p>
  <a href="/">Voltar</a>
</body>
</html>
